* {
  font-family: "Playfair Display";
}
body {
  color: white;
  background-color: black;
  background-image: url(../images/overlook-background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
}
.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
  margin-bottom: 3%;
  width: 60%;
}
h1 {
  font-family: "Berkshire Swash";
  font-size: 3.6em;
}
header, nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 2%;
}
header {
  height: 15%;
}
nav {
  margin-left: 7%;
}
button {
  color: white;
}
.booking-buttons {
  border: none;
  border-radius: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2em;
}
.booking-buttons:hover, .selected {
  border-bottom: 5px solid black;
}
.total-spent {
  margin-left: 85%;
}
.user-info {
  border-bottom: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.sign-out {
  border: none;
  border-radius: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10%;
  height: 35%; 
  margin-top: 3%;
  font-size: 1.3em;
}
.sign-out:hover , .book-room-btn:hover, .sign-in-btn:hover {
  color: black;
  background-color: white;
}
.booking-options-container, .booked-rooms {
  height: 50vh;
  overflow-y: scroll;
  margin: 5%;
}
.booking-option, .bookings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bookings:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.customer-options {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.book-room-btn, .sign-in-btn {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10%;
  height: 15%;
}
.req {
  color:#f91920;
  font-size: 1.3em;
}
.user-feedback {
  font-weight: 900;
  font-size: 1.2em;
}
.hidden {
  display: none;
}
